html { -ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%; height: 100%;font: inherit;overflow-x: hidden;}
::-webkit-scrollbar { width: 0px;height: 0px;}
::-webkit-scrollbar { width: 12px;height: 12px;}
::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); border-radius: 6px;background-color: white;}
::-webkit-scrollbar-thumb { border-radius: 6px;-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, .3); background-color: #d2d2d2;}
::-webkit-scrollbar-thumb:hover{ background-color: #999999;}
::-webkit-scrollbar-corner{ background-color: transparent;}
.woo-dark::-webkit-scrollbar-track, .woo-dark ::-webkit-scrollbar-track{ background-color: #000;}
.woo-dark::-webkit-scrollbar-thumb, .woo-dark ::-webkit-scrollbar-thumb{  background-color: #999999;}
.woo-dark::-webkit-scrollbar-thumb:hover, .woo-dark ::-webkit-scrollbar-thumb:hover{  background-color: #d2d2d2;}
:root {
    --theme-color: #2d8cf0;
    --theme-second-color: rgba(45,140,240,0.08);
}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, q, dl, dt, dd, fieldset, form, legend, caption, tbody, tfoot, thead, article, aside, dialog, figure, footer, header, hgroup, nav, section{ margin:0;padding:0;border:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary { display: block;}
audio,canvas,progress,video { display: inline-block;vertical-align: baseline;}
audio:not([controls]) { display: none;height: 0;}
a { background: transparent;outline: none; }
a:active,a:hover { outline: 0;}
img { border: 0;max-width:100%;height:auto;width:auto\9;-ms-interpolation-mode: bicubic;}
img.inherit { max-width:  inherit; *width: auto;}
table,tr,td{ max-width: 100%;width:auto\9;}
.video embed,.video object,.video iframe { width:100%;height:auto;}
svg:not(:root) { overflow: hidden;}

button,input,optgroup,select,textarea { color: inherit;margin: 0;}
button { overflow: visible;}
button,select { text-transform: none;}
button,html input[type="button"],input[type="reset"],input[type="submit"] { -webkit-appearance: button;cursor: pointer;}

button::-moz-focus-inner,input::-moz-focus-inner { border: 0;padding: 0;}
input { line-height: normal;}
input[type="checkbox"],input[type="radio"] { box-sizing: border-box;padding: 0;}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button { height: auto;}
textarea { overflow: auto;font-size: 1em;}


.sizing { -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
ul.ul,ul.list,ul.grid { margin: 0;padding: 0;}
dl dt,dl dd,ul li,ol li { list-style:none; }
dl.grid dt,ul.grid li { float:left; }

.opacity-9 { opacity: 0.9;filter:alpha(opacity=90);}.opacity-8 { opacity: 0.8;filter:alpha(opacity=80);}.opacity-7 { opacity: 0.7;filter:alpha(opacity=70);}.opacity-6 { opacity: 0.6;filter:alpha(opacity=60);}.opacity-5 { opacity: 0.5;filter:alpha(opacity=50);}.opacity-4 { opacity: 0.4;filter:alpha(opacity=40);}.opacity-3 { opacity: 0.3;filter:alpha(opacity=30);}.opacity-2 { opacity: 0.2;filter:alpha(opacity=20);}.opacity-1 { opacity: 0.1;filter:alpha(opacity=10);}
.img-gray { filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");filter: gray;-webkit-filter: grayscale(100%);}
.img-circle { border-radius: 50%;}
.img-blur {  -webkit-filter: blur(10px); -moz-filter: blur(10px);-ms-filter: blur(10px);filter: blur(10px);filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false); }
.en-font { font-family: Arial,Verdana,sans-serif;}
.coverBg { background-position: center center; background-size: cover;background-repeat: no-repeat;}

.left ,.fl { float:left; }
.right,.fr { float:right; }
.hidden,.r-hidden { display:none; }
.relative { position:relative;}
.absolute { position: absolute; left: 0; top: 0;}
.clear { clear:both; height:0px; overflow:hidden; }
.clearfix:after,ul.grid:after { content: " ";display: block;clear: both;height: 0;}
.clearfix,ul.grid { zoom: 1;}
.transition { -webkit-transition: all 0.4s ease-in;-moz-transition: all 0.4s ease-in;-o-transition: all 0.4s ease-in;-ms-transition: all 0.4s ease-in;transition: all 0.4s ease-in;}
.transition-delay { -webkit-transition: all 0.4s ease-in 0.4s;-moz-transition: all 0.4s ease-in 0.4s;-o-transition: all 0.4s ease 0.4s;-ms-transition: all 0.4s ease-in 0.4s;transition: all 0.4s ease-in 0.4s;}
.flex{ display: flex;}

h1,.h1 { font-size: 33px;}
h2,.h2 { font-size: 27px;}
h3,.h3 { font-size: 23px;}
h4,.h4 { font-size: 17px;}
h5,.h5 { font-size: 15px;}
h6,.h6 { font-size: 13px;}
p { margin: 10px 0;}


body { color: #444444;font-size: 13px; line-height: 1.5; font-family: Roboto,Hiragina Sans GB,San Francisco,Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;background: whitesmoke;}
.bgWrap { width: 100%;margin: 0 auto; }
.wrap { width: 100%; margin: 0 auto;max-width: 1000px;}
.reset { margin:0; padding:0; font-size: 13px;font-weight: normal;}
a { color: #666;text-decoration: none;}
a:hover{ color: #36b368;text-decoration: none; }




#think_page_trace_open{ z-index: 9999;}
.layui-tab  .layui-nav-child{left: auto;right: 0;top: 40px;padding: 0;}
.layui-nav.woo-this-gray .layui-nav-child dd.layui-this a, .woo-this-gray .layui-nav-child dd.layui-this{ background: #f6f6f6;color: #000;}
.woo-form-body .layui-tab-title,.woo-table-body .layui-tab-title{ height: 44px;}
.woo-form-body .layui-tab-title li,.woo-table-body .layui-tab-title li{ height: 44px;line-height: 44px;min-width: 5em;}
.woo-form-body .layui-tab-title .layui-this::after,.woo-table-body .layui-tab-title .layui-this::after{ height: 45px;border-radius: 4px 4px 0 0;}


.woo-main{ padding: 15px;}
.woo-main-container{  background: #fff;box-shadow: 0 1px 2px 0 rgba(0,0,0,.06);border-radius: 2px;}

#fixedAlert{ position: fixed;right: 30px;top: 75px;z-index: 9999999;overflow: hidden;}
#fixedAlert .alert{ display: none; width: 240px;margin-bottom: 8px; border: 1px solid #d6ebff;background-color: #ebf5ff;position: relative;padding: 16px 16px 16px 60px;border-radius: 6px;color: #31708f;font-size: 14px;}
#fixedAlert .alert span.icon{ background: url("../../images/icon.png") no-repeat;position: absolute;width: 30px;height: 30px;left:15px;top: 50%;margin-top: -15px;}

#fixedAlert .alert.success{ border-color: #ccf5e0;background-color: #e6faf0;color:#3c763d;word-break: break-all;}
#fixedAlert .alert.success span.icon{ background-position: -30px 0;}

#fixedAlert .alert.warn{ border-color: #ffebcc;background-color: #fff5e6;color: #8a6d3b;}
#fixedAlert .alert.warn span.icon{ background-position: -90px 0;}

#fixedAlert .alert.warm{ border-color: #ffebcc;background-color: #fff5e6;color: #8a6d3b;}
#fixedAlert .alert.warm span.icon{ background-position: -90px 0;}

#fixedAlert .alert.warning{ border-color: #ffebcc;background-color: #fff5e6;color: #8a6d3b;}
#fixedAlert .alert.warning span.icon{ background-position: -90px 0;}

#fixedAlert .alert.error{ border-color: #ffd6cc;background-color: #ffebe6;color: #a94442;}
#fixedAlert .alert.error span.icon{ background-position: -60px 0;}

.admin_message{ padding: 50px 15px 15px; text-align: center;}
.admin_message .notification{ position: relative;text-align: center;color:rgba(0,0,0,.6);font-size: 16px;line-height: 30px;word-break: break-word;}
.admin_message .notification .icon{ font-family:layui-icon!important; font-style:normal; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale;display: block;text-align: center;font-size: 60px;height: 90px;line-height: 90px;margin-bottom: 10px;}
.admin_message .redirect{ margin-top: 22px;display: flex;justify-content: center;flex-wrap: wrap;}
.admin_message .redirect .layui-btn{  height: 34px;line-height: 34px;padding: 0 15px;letter-spacing: 1px;margin: 0 5px;}
.admin_message .count_down{ margin-top: 20px;color:rgba(0,0,0,.5);}
.admin_message .count_down span{ color:#F56C6C; margin:0 5px;}
.admin_message .count_down a{ color: #1e9fff;}

.admin_message,.admin_message.info{ border-top: 1px solid #2d8cf0;}
.notification .icon:before,.info .notification .icon:before{ content: "\e702";color: #2d8cf0;}
.admin_message.success{ border-top: 1px solid #36b368;}
.success .notification .icon:before{ content: "\e697";color: #36b368;}
.admin_message.error{ border-top: 1px solid #F56C6C;}
.error .notification .icon:before{ content: "\e693";color: #F56C6C;}
.admin_message.warn,.admin_message.warm{ border-top: 1px solid #ffb800;}
.warn .notification .icon:before,.warm .notification .icon:before{ content: "\e699";color: #ffb800;}

.woo-dark .admin_message .notification{ color:#b4c2c5;}
.woo-dark .admin_message .count_down{ color: rgba(255,255,255,.5);}


.woo-code{ padding: 15px;max-width: 800px;margin: 0 auto;}
.woo-code .layui-code{ margin: 0}
.woo-code .admin_message{ padding: 0 0 15px;}

.woo-setting{ padding: 14px;}
.woo-setting .layui-tab{ margin: 0;}
.woo-setting.woo-form-body{ padding: 15px 15px 5px;}
.woo-setting.woo-form-body>.layui-tab > .layui-tab-title{ margin-top: 0;}
.setting-row{ position: relative;padding: 0 0 0 190px;}

.setting-row .setting-row-title{ width: 160px;padding-left: 15px; position: absolute;left:0;top:0;font-size:13px;}
.setting-row .setting-row-title label{ float: none;text-align: left;padding: 0;width: auto;line-height: 38px;padding-top: 15px;overflow: hidden; }
.setting-row .setting-row-value{ float: left;width: 60%;padding: 15px 0;min-height: 38px;}
.setting-row .setting-row-call{ float: right;width: 35%;padding-top: 8px;line-height: 26px;color: #FF5722;}
.setting-row .setting-row-call.more-top{ padding-top: 22px;}
.setting-row .setting-input{ }
.setting-row .setting-tip{ }
.setting-row.setting-odd{ background:#f6f6f6;}
.woo-setting .layui-form-checkbox{ margin-top: 10px;}
.woo-setting .setting-tip{ line-height: 16px;color: #B2B2B2;margin-top: 10px;}

.is-layer-frame, .is-drawer-frame{ background: #ffffff;}
.is-layer-frame .woo-main-container, .is-drawer-frame .woo-main-container{ box-shadow: none;}
.is-layer-frame .woo-main, .is-drawer-frame .woo-main{ padding: 0;}
.is-layer-frame .woo-b-header{ display: none;}
.is-layer-frame.is-drawer-frame .woo-form-bottom{ display: block;}

.layui-layer-btn{ text-align: center !important; }
.layui-layer-btn a{ padding:0 15px;letter-spacing: 2px;}


.is-drawer-frame .woo-b-header .action,
.is-drawer-frame .woo-b-header .line,
.is-drawer-frame .woo-b-header .right-tools
{ display: none;}


.woo-treelist{ padding: 15px;}
.woo-treelist .loading{ text-align: center;padding-top: 15px;}
.woo-treelist .loading i{ font-size: 30px;}
.woo-treelist li{ height: 46px;line-height: 46px; overflow: hidden; border-bottom: 1px solid #eeeeee;padding-left: 15px;border-left: 2px solid #36b368}
.woo-treelist-self{ float: left;}
.woo-treelist-field{ float: left;margin-right: 8px;}
.woo-treelist-field.woo-treelist-display{ font-size: 14px;color: #FF5722}
.woo-treelist-field.woo-treelist-icon{ margin-right: 12px;}
.woo-treelist-field.woo-treelist-icon i{ font-size: 18px;color: #36b368;}
.woo-treelist-action .woo-tree-itemtool{ float: left;margin-left: 10px;}
.woo-treelist-action .woo-tree-itemtool a{ color: #0477FA}
.woo-treelist-action .woo-tree-itemtool i{ margin-right: 2px;color: #36b368;}
.woo-treelist-action .woo-tree-itemtool.sort_child i{ color:#FFB800}
.woo-treelist-action .woo-tree-itemtool.modify i{ color:#36b368}
.woo-treelist-action .woo-tree-itemtool.delete i{ color:#FF5722}
.woo-treelist li{ position: relative;}
.woo-treelist-action{ position: absolute;right: 0;top: 0;background: #fff;display: none;opacity: 1; }
.woo-treelist li.hover .woo-treelist-action{ display: block;}



.woo-page-sort{ padding:15px 15px;}
.woo-page-sort ul{ border-top: 1px solid #eee;}
.woo-page-sort li{ height: 40px;line-height: 40px;border-bottom: 1px solid #eee;padding: 0 15px;overflow: hidden;}
.woo-page-sort li.sort-odd{ background: #f6f6f6;}
.woo-page-sort li .woo-field{ margin-right: 12px;}
.woo-page-sort li label{ opacity: 0.7;}

.woo-page{ padding: 0 15px;}
.woo-page .pagination{ }
.woo-page .pagination li{ display: inline-block;}

.layui-input-disabled{ background:#F0F0F0;cursor: not-allowed;}
.woo-admin-home{ padding: 0 15px;}
.woo-home-show{ padding-top: 40px;margin-bottom: 10px;}
.woo-home-show .avatar{ width: 90px;height: 90px;margin: 0 auto;position: relative;cursor: pointer;}
.woo-home-show .avatar img{ width: 100%;height: 100%;border-radius: 50%;}
.woo-home-show .avatar .cover{ position: absolute;left:0;top: 0;width: 100%;height: 100%;background: rgba(0,0,0,0.3);border-radius: 50%;text-align: center;line-height: 90px;color: #eee;opacity: 0;transition: all .5s;font-size: 13px;}
.woo-home-show .avatar i{
    position: absolute;
    left: -3px;
    top: -3px;
    bottom: -3px;
    right: -3px;
    border: 4px solid #ecab18;
    border-right-color: #36b368;
    border-bottom-color: #36b368;
    border-radius: 50%;
    -webkit-transition: all .5s;
    transition: all .5s;
}
.woo-home-show .avatar:hover .cover{ opacity: 1;}
.woo-home-show .avatar:hover i{ -webkit-transform: rotate(180deg);transform: rotate(180deg);}
.woo-home-show .username,.woo-home-show .email{ text-align: center;line-height:30px;color: #666;}
.woo-home-show .username{ font-size: 16px;padding-top: 15px;color: #333;}
.woo-admin-home .woo-table-body{ padding: 5px 0 0 15px;}

.woo-power{ padding: 15px;}
.show-tree-box{ overflow: hidden;width: 78%;margin-left: 2%;float: left;max-width:400px;}
.show-tree-init{ width: 500px;overflow: auto;height: 100%;overflow-x: hidden;}
#powerTo{ height: 36px;line-height: 36px;font-size: 14px;color: #888;display: none;padding-left: 10px;}
#powerTo span{ color: #5FB878;}
#showTree .layui-tree-entry{ padding: 4px 0;}
#showTree .layui-tree-line .layui-tree-entry:hover .layui-tree-txt,#showTree .layui-tree-line .layui-tree-entry:hover .layui-tree-txt span{ text-decoration: none;}
#showTree .layui-tree-line  .layui-tree-txt{ color: #FF5722;font-size: 14px;}
#showTree .layui-tree-line  .layui-tree-txt span{ margin-left: 6px;color: #777;font-family: Verdan, Arial, Tahoma;}

#powerTarget{ width: 20%;float: left;overflow: hidden;}
.power-init{ width: 120%;overflow:scroll;height: 100%;overflow-x: hidden;}
#powerTarget ul,#powerTarget .user-search{ width: 85%;}
#powerTarget li{ margin-top: 5px;position: relative}
#powerTarget li i.power-more{ position: absolute;right: 15px;top: 13px;cursor: pointer;transition: all .3s;transform: rotate(180deg);}
#powerTarget li a.ag-name{ display: block;cursor: pointer;height: 40px;line-height: 40px;font-size: 14px;border-bottom: 1px solid #ddd;border-radius: 0 0 0 5px;padding: 0 15px;}
#powerTarget li a.ag-name.selected{ color: #5FB878;font-weight: bold;}
#powerTarget li dl{ padding-left: 15px;}
#powerTarget li dd{ position: relative;padding-top: 10px;cursor: move;}
#powerTarget li dd .ad-name{ position: relative;padding-left: 50px;height: 36px;line-height: 36px;font-size: 14px;color: #777;}
#powerTarget li .ad-name .ad-av{ position: absolute;left: 0;top: 0;width: 34px;height: 34px;border:1px solid #ddd;border-radius: 50%;overflow: hidden;}
#powerTarget li .ad-name .ad-av img{  border-radius: 50%;position: absolute;left: 1px;top:1px;right: 1px;bottom: 1px;width: 32px;height: 32px;}


#powerTarget li.power-close i.power-more{ transform: rotate(0deg);}


#powerTarget .user-search{ margin-top: 20px;position: relative;}
#powerTarget button{ position: absolute;right: 0;top: 0;}
#powerTarget .search-list{ position: absolute;left: 0;top: 38px;border: 1px solid #eee;right: 0;display: none;}
#powerTarget .search-list span{ display: block;height: 28px;line-height: 28px;padding: 0 10px;cursor: pointer;}
#powerTarget .search-list span:hover{ background: rgba(0,0,0,0.1);}

.app-list{ padding: 15px;}
.app-list ul li{ width: 354px;border:1px solid #eeeeee;margin:  0 15px 15px 0;border-radius: 2px;box-shadow: 1px 1px 3px rgba(0,0,0,0.05);box-sizing: border-box;}
.app-list ul li .header{ font-size: 14px; height: 44px;line-height: 44px;border-bottom: 1px solid #f2f2f2;padding: 0 15px;overflow: hidden;}
.app-list ul li .header .version{ float: right;color: #1E9FFF;font-size: 12px;}
.app-list ul li .header .name{ margin-right: 4px;opacity: 0.8;}
.app-list ul li .des{ padding: 8px 15px;line-height: 26px;height: 78px;overflow: hidden;}
.app-list ul li .des span{ margin-left: 8px;color: #FF5722;}
.app-list ul li .action{ padding: 15px;border-top:1px solid #eeeeee;width: 100%;box-sizing: border-box;text-align: right;}
.app-list ul li .action .layui-btn{ }


.app-list .no-list{ padding: 50px 0; text-align: center;font-size: 14px;}

.woo-page .pagination li a, .woo-page .pagination li span {display: inline-block; padding: 0 12px; height: 26px; line-height: 26px; margin-bottom: 10px;border: none; background: 0 0; border-radius: 2px;}
.woo-page .pagination li.active span{ background: #36b368;color: #fff;}
.woo-page .pagination li:first-child span,.woo-page .pagination li:last-child span{ cursor: not-allowed; color: #d2d2d2;}


.woo-tag {display: inline-block;height: 22px;line-height: 22px;margin: 2px 4px 2px 0;padding: 0 8px;border: 1px solid #e8eaec;border-radius: 3px;background: #f7f7f7;font-size: 12px;vertical-align: middle;opacity: 1;overflow: hidden;}
.woo-tag.green{background: #f6ffed;border-color: #b7eb8f;color: #52c41a}
.woo-tag.blue{background: #e6f7ff; border-color: #91d5ff;color: #1890ff;}
.woo-tag.red{background: #fff1f0;border-color: #ffa39e;color:#f5222d;}
.woo-tag.yellow{ background:#feffe6;border-color:#fffb8f;color:#fadb14;}
.woo-tag.cyan{ background:#e6fffb;border-color:#87e8de;color:#13c2c2;}
.woo-tag.lime{ background:#fcffe6;border-color:#eaff8f;color:#a0d911;}
.woo-tag.purple{ background:#e6f7ff;border-color:#91d5ff;color:#1890ff;}


.woo-avatar { display: inline-block;text-align: center; background: #ccc; color: #fff;white-space: nowrap; position: relative; overflow: hidden; vertical-align: middle; width:32px;height: 32px;line-height: 32px;border-radius: 50%;}
.woo-avatar.woo-avatar-small{ width: 24px;line-height: 24px;height: 24px;}

.drawer-outer{ position: fixed;z-index: 99998;top: 0;bottom: 0;right: 0;left: 0;}
.drawer-container{ position: fixed;z-index: 99999;background: rgba(255,255,255,0.98);box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);}
.drawer-container.right{ width: 50%; top: 0;right: -100%;bottom: 0;transition: right .5s ease-out;max-width: 100%;}
.drawer-outer.show .drawer-container.right{ right: 0;}
.drawer-container.top{ height: 50%; top: -100%;left: 0;right: 0;transition: top .5s ease-out;max-height: 100%;}
.drawer-outer.show .drawer-container.top{ top: 0;}
.drawer-container.left{ width: 50%; top: 0;left: -100%;bottom: 0;transition: left .5s ease-out;max-width: 100%;}
.drawer-outer.show .drawer-container.left{ left: 0;}
.drawer-container.bottom{ height: 50%; bottom: -100%;right: 0;left: 0;transition: bottom .5s ease-out;max-height: 100%;}
.drawer-outer.show .drawer-container.bottom{ bottom: 0;}
.drawer-close{ position: absolute;z-index: 100000;transition: all .3s;color: #666;text-align: center;}
.drawer-close i{ font-size: 26px;color: #fff;transition: all .3s;}
.drawer-close:hover{ background-color: rgba(30,159,255,0.8);}
.drawer-container .drawer-wrapper { position: absolute; right: 0; bottom: 0; left: 0; top: 0; -webkit-overflow-scrolling: touch; overflow-y: hidden;width: 100%;}
.drawer-container .drawer-wrapper iframe { height: 100%; width: 100%;}

.drawer-close{ left:-40px;width:40px;height: 40px;line-height:40px; background-color: #36b368;opacity: .8;}
.drawer-close:hover{ opacity: 1;}
.drawer-container.right .drawer-close{ left:-40px;top: 0;}
.drawer-container.left .drawer-close{ right: -46px;top: 0;}
.drawer-container.top .drawer-close{ left: 0;bottom: -46px;}
.drawer-container.bottom .drawer-close{ left: 0;top: -46px;}
.drawer-container.right.is-full .drawer-close,.drawer-container.left.is-full .drawer-close{ left: auto;right: 0; }
.drawer-container.top.is-full .drawer-close,.drawer-container.bottom.is-full .drawer-close{ left: auto;bottom: auto;top: 0; right: 0; }

.pear-admin .pearone-color .color-title,
.pear-admin .select-color .select-color-title
{ font-size: 14px;}

@media screen and (max-width: 1200px)  and (min-width:100px)  {
    .setting-row .setting-row-value{ width: 50% }
    .setting-row .setting-row-call{ width: 45%}
}

@media screen and (max-width: 768px)  and (min-width:100px)  {
    .setting-row{ padding:4px 15px;}
    .setting-row .setting-row-title{ position: static;padding: 0;}
    .setting-row .setting-row-title label{ padding: 0;}
    .setting-row .setting-row-call{ width: 100%;float: none;padding: 0;}
    .setting-row .setting-row-value{ width: 100%;float: none;padding: 0;}
    .setting-row.setting-action{ padding: 15px 0 10px;}

    .show-tree-box,#powerTarget{ width: 100%;margin-left: 0;}
    .show-tree-box{ margin-top: 15px;}

    .is-drawer-frame .woo-main{ min-width: auto;}

    .show-tree-box{ width: 65%;margin-left: 3%}
    #powerTarget{ width: 32%;}
}

@media screen and (max-width: 668px)  and (min-width:100px)  {

    body{ font-size: 13px;}
    .woo-main{ /*min-width:736px;*/padding: 0;}
    .woo-admin-home{ padding: 0;overflow: hidden;}
    .woo-admin-home .woo-home{ padding: 0 10px;}
    .woo-admin-home .woo-table-body{ padding: 5px 0 10px;}

    .woo-treelist{ padding: 10px;}
    .woo-treelist-action{ border-left: 1px solid #eee;background: #f9f9f9;padding-right: 10px;border-right: 1px solid #eee;max-width: 100%;overflow: auto;white-space: nowrap;}
    .woo-treelist li.hover .woo-treelist-action{ display: flex;align-items: center;}
    .woo-treelist li{ padding-left: 10px;}
    .woo-treelist-field.woo-treelist-icon{ margin-right: 10px;}
    .woo-page-sort{ padding: 10px;}

    .woo-power{ padding: 10px;}
    #powerTarget{ width: 100%;float: none;}
    .show-tree-box{ width: 100%;margin: 15px 0;}
    #fixedAlert{ right: 10px; top: 61px;}
    .app-list{ padding: 10px;}
    .app-list ul li{ margin: 0 0 10px 0;width:100%; }

    .setting-row{ padding: 4px 10px;}
    .setting-row .setting-row-call{ padding-top: 6px;padding-bottom: 5px;font-size: 12px;}
    .setting-row .setting-row-call.more-top{ padding-top: 5px;}

    ::-webkit-scrollbar { width:0;height: 0;}
    body::-webkit-scrollbar { width:4px;height: 4px;}
    ::-webkit-scrollbar-track {  border-radius: 2px;}
    ::-webkit-scrollbar-thumb { border-radius: 2px; }
}

@media screen and (max-width: 450px)  and (min-width:100px)  {

}