<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title></title>

	<meta name="keywords" content=""/>
	<meta name="description" content=""/>
	<link rel="stylesheet" href="{__LIBS__}layui/css/layui.css"/>
	<link rel="stylesheet" href="{__MODULE__}admin.css?v=318"/>
	<link rel="stylesheet" href="{__CSS__}style.css"/>

	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	<style>
		.layui-card .layui-table-view {
			margin: 0;
		}
		.layui-table td, .layui-table th, .layui-table-col-set, .layui-table-fixed-r, .layui-table-grid-down, .layui-table-header, .layui-table-page, .layui-table-tips-main, .layui-table-tool, .layui-table-total, .layui-table-view, .layui-table[lay-skin=line], .layui-table[lay-skin=row] {
			color: #515a6e;
			border: 0;
			border-width: 1px;
			border-bottom-style: solid;
			border-color: #E8EAEC;
			white-space: nowrap;
		}
	</style>
</head>
<body>