<include file="/public/header">
<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">

            <!-- 数据表格 -->
            <table id="Sk_Table" lay-filter="Sk_Table"></table>
        </div>
    </div>
</div>
<!-- 表格操作列 -->
<script type="text/html" id="Sk_TbBar">
 <a class="layui-btn layui-btn-primary layui-btn-sm" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
</script>
<style>
    .badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}
.badge-danger {
    color: #fff;
    background-color: #ff5b5b;
}
.badge {
    color: #fff;
}
.badge-success {
    color: #fff;
    background-color: #10c469;
}
</style>
<!-- 表格状态列 -->


<script type="text/html" id="Sk_Tbid">
    <span id="Sk_span_{{d.id}}">{{d.status==1?'<span class="layui-badge-dot layui-bg-sf-indigo" style="height: 6px;width: 6px;position: relative;top: -2px"></span></span> '+d.id:'<span class="layui-badge-dot layui-bg-red" style="height: 6px;width: 6px;position: relative;top: -2px"></span></span> '+d.id}}
</script>

<script type="text/html" id="Sk_TbStateCk">
    <input type="checkbox" lay-filter="Sk_TbStateCk" value="{{d.id}}" lay-skin="switch" lay-text="显示|隐藏" {{ d.status == 1 ? 'checked' : '' }}>
</script>

<include file="/public/footer">
<script>
    layui.use(['layer', 'form','layedit', 'table', 'util', 'admin', 'notice'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var util = layui.util;
        var admin = layui.admin;
        var notice = layui.notice;
         var layedit = layui.layedit;
             layedit.build('demo'); //建立编辑器

        /* 渲染表格 */
        var insTb = table.render({
            elem: '#Sk_Table',
            url: '{:url("/Article/list")}',
            method: 'post',
            page: true,
            skin: 'line',
            size: 'lg',
            toolbar: ['<p>',
                '<button lay-event="add" class="layui-btn layui-btn-sm icon-btn">添加</button>&nbsp;',
                '<button lay-event="del" class="layui-btn layui-btn-sm layui-btn-danger icon-btn">删除</button>',
                '</p>'].join(''),
            cellMinWidth: 100,
            request: {
                pageName: 'current_page' //页码的参数名称，默认：page
                ,limitName: 'limit' //每页数据量的参数名，默认：limit
            },
            parseData: function(res){ //res 即为原始返回的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.data.data.total, //解析数据长度
                    "data": res.data.data.data //解析数据列表
                };
            },
            cols: [[
                {type: 'checkbox'},
                {field: 'id', title: 'ID', templet: '#Sk_Tbid', sort: true, width: 80},

               {field: 'title', title: '标题',  minWidth: 130, templet: function (d) {
                return '<span class="demo">'+d.title+'</span>';
                }},
              
              
                //{field: 'time', title: '添加时间', sort: true, minWidth: 200},
                 {field: 'time', title: '添加时间',  minWidth: 180, templet: function (d) {
                return '<span class="demoh">'+d.time+'</span>';
                }},
           
                  {field: 'mail_push', title: '推送',  minWidth: 100, templet: function (d) {
                 if(d.mail_push==1){
                            return '<span style="color: #1890ff;">已推</span>';
                      }else{
                          return '<span style="color: #F44336;">未推</span>';
                      }
                    },
                },
                {field: 'status', title: '状态', templet: '#Sk_TbStateCk', align: 'center', width: 120},
                {title: '操作', toolbar: '#Sk_TbBar',fixed: 'right', align: 'center', minWidth: 180}
            ]]
        });
       
       
        /* 表格搜索 */
        form.on('submit(Sk_TbSearch)', function (data) {
            insTb.reload({where: data.field, page: {curr: 1}});
            return false;
        });

        form.on('select(template)', function (data) {
            if(data.value == ''){
                insTb.reload({where: {appid:data.value}, page: {curr: 1}});
            }else{
                insTb.reload({where: {appid:data.value}, page: {curr: 1}});
            }
            return false;
        });
       
            /* 表格工具条点击事件 */
            table.on('tool(Sk_Table)', function (obj) {
                if (obj.event === 'edit') { // 修改
                    showEditModel(obj.data);
                } else if (obj.event === 'del') { // 删除
                    doDel(obj);
                } 
            });

      
            /* 表格头工具栏点击事件 */
            table.on('toolbar(Sk_Table)', function (obj) {
                if (obj.event === 'add') { // 添加
                    showEditModel();
                } else if (obj.event === 'del') { // 删除
                    var checkRows = table.checkStatus('Sk_Table');
                    if (checkRows.data.length === 0) {
                        notice.msg('请选择要删除的数据！', {icon: 3, audio:'0'});
                        return;
                    }
                    var ids = checkRows.data.map(function (d) {
                        return d.id;
                    });
                    console.log(ids)
                    doDel({ids: ids});
                }
            });

            /* 显示表单弹窗 */
            function showEditModel(mData) {
                  if(mData){
                var id=mData.id?mData.id:'';
             
                }else{
               var id='';   
    
                }
               admin.open({
                    type: 2,
                    title: (mData ? '修改' : '添加') + '公告',
                    maxmin: true,
                    resize: true,
                    area: ['640px', '520px'],
                    shade: 0,
                    fixed: true,
                    offset: 'auto',
                 content: '{:url("/Article/details")}?id='+id
                  
                });
            }
 
            /* 删除 */
            function doDel(obj) {
                layer.confirm('确定要删除选中数据吗？', {
                    skin: 'layui-layer-admin',
                    icon: 3,
                    shade: .1
                }, function (i) {
                    layer.close(i);
                    notice.msg('正在执行中..', {icon: 4, close: true});
                    $.ajax({
                        type: "POST",
                        url: obj.data ? '{:url("/Article/del")}' : '{:url("/Article/del")}',
                        data: {id: obj.data ? obj.data.id : obj.ids.join(',')},
                        dataType: "json",
                        success: function(data) {
                            notice.destroy();
                            if (data.code == 0) {
                                insTb.reload({page: {curr: 1}});
                                notice.msg(data.msg, {icon: 1, audio:'0'});
                            }else{
                                notice.msg(data.msg, {icon: 2, audio:'0'});
                            }
                        },
                        error: function() {
                            notice.destroy();
                            notice.msg("服务器错误！", {icon: 2, audio:'0'});
                        }
                    });
                });
            }

            /* 修改用户状态 */
            form.on('switch(Sk_TbStateCk)', function (obj) {
                notice.msg('正在执行中..', {icon: 4, close: true});
                $.ajax({
                    type: "POST",
                    url:'{:url("/Article/status")}',
                    data: {id:obj.value,status:obj.elem.checked ? 1 : 0},
                    dataType: "json",
                    success: function(data) {
                        notice.destroy();
                        if (data.code == 0) {
                            insTb.reload({page: {curr: 1}});
                            notice.msg(data.msg, {icon: 1, audio:'0'});
                        }else{
                            notice.msg(data.msg, {icon: 2, audio:'0'});
                        }
                    },
                    error: function() {
                        notice.destroy();
                        notice.msg("服务器错误！", {icon: 2, audio:'0'});
                    }
                });
            });
        });
</script>