<include file="/public/header">
<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">


            <table id="SK_Table" lay-filter="SK_Table"></table>
        </div>
    </div>
</div>
<!-- 表格操作列 -->
<script type="text/html" id="SK_TbBar">
    <a class="layui-btn layui-btn-primary layui-btn-sm" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
</script>
<!-- 表格状态列 -->
<script type="text/html" id="SK_TbState">
    <input type="checkbox" lay-filter="SK_TbStateCk" value="{{d.id}}" lay-skin="switch"
           lay-text="正常|封禁" {{d.status==1?'checked':''}} style="display: none;"/>
</script>
<script type="text/html" id="SK_TbPermanent_Switch">
    <input type="checkbox" lay-filter="SK_TbPermanent_SwitchCk" value="{{d.id}}" lay-skin="switch"
           lay-text="开启|关闭" {{d.permanent_switch==1?'checked':''}} style="display: none;"/>
</script>
<script type="text/html" id="SK_Beta_Switch">
    <input type="checkbox" lay-filter="SK_Beta_SwitchCk" value="{{d.id}}" lay-skin="switch"
           lay-text="开启|关闭" {{d.beta==1?'checked':''}} style="display: none;"/>
</script>
<script type="text/html" id="SK_Tbid">
    <span id="SK_span_{{d.id}}">{{d.status==1?'<span class="layui-badge-dot layui-bg-sf-indigo" style="height: 6px;width: 6px;position: relative;top: -2px"></span></span> '+d.id:'<span class="layui-badge-dot layui-bg-red" style="height: 6px;width: 6px;position: relative;top: -2px"></span></span> '+d.id}}
</script>


<include file="/public/footer">
<script>
    layui.use(['layer', 'form', 'table', 'admin', 'notice', 'laydate'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var admin = layui.admin;
        var notice = layui.notice;
        var laydate = layui.laydate;

        /* 渲染表格 */
        var insTb = table.render({
            elem: '#SK_Table',
            url: '{:url("/user/list")}?sjuser={$id}',
            method: 'post',
            page: true,
            skin: 'line',
            size: 'lg',
            toolbar: ['<p>',
                '<button lay-event="add" class="layui-btn layui-btn-sm icon-btn"><i class="layui-icon">&#xe654;</i>添加</button>&nbsp;',
                '<button lay-event="del" class="layui-btn layui-btn-sm layui-btn-danger icon-btn"><i class="layui-icon">&#xe640;</i>删除</button>',
                '</p>'].join(''),
            cellMinWidth: 100,
            request: {
                pageName: 'current_page' //页码的参数名称，默认：page
                ,limitName: 'limit' //每页数据量的参数名，默认：limit
            },
            parseData: function(res){ //res 即为原始返回的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.data.data.total, //解析数据长度
                    "data": res.data.data.data //解析数据列表
                };
            },
            cols: [[
                {type: 'checkbox'},
                {field: 'id', title: 'ID',  sort: true, width: 80},
                {field: 'uid', title: 'UID',  minWidth: 160},
                 {field: 'user', title: '账号',  minWidth: 100, templet: function (d) {
                            return '<span style="color: #1890ff;">'+d.user+'</span>';
                    },
                },
             {field: 'email', title: '邮箱',  minWidth: 160},
              {field: 'sj', title: '代理',  minWidth: 160},
                {field: 'client_name', title: '解析平台名',  minWidth: 160},
                {field: 'bytime', title: '剩余',  minWidth: 160},
                {field: 'money', title: '余额',  minWidth: 160},
                {field: 'daynum', title: '今日调用',  minWidth: 160},
                {field: 'way', title: '用户类型',  minWidth: 160},
                {field: 'ip', title: '注册ip',  minWidth: 160},
            {field: 'time', title: '注册时间',  minWidth: 160},
             {field: 'auth_ip', title: '解析授权IP',  minWidth: 160},
              {field: 'cj_auth_ip', title: '采集授权IP',  minWidth: 160},
               {field: 'time', title: '注册时间',  minWidth: 160},
          
            {field: 'auth', title: '使用权限',  minWidth: 160},
            
         
                {title: '操作', toolbar: '#SK_TbBar', align: 'right', minWidth: 180,fixed: 'right'}
            ]]
        });



        /* 表格工具条点击事件 */
        table.on('tool(SK_Table)', function (obj) {
            if (obj.event === 'edit') { // 修改
                showEditModel(obj.data);
            } else if (obj.event === 'del') { // 删除
                doDel(obj);
            }
            laydate.render({
                elem: '#test', //指定元素
                mark: {
                    '0-3-15': 'SF'
                },
                type: 'datetime',
                trigger: 'click'
            });
        });

        /* 表格头工具栏点击事件 */
        table.on('toolbar(SK_Table)', function (obj) {
            if (obj.event === 'add') { // 添加
                showEditModel();
            } else if (obj.event === 'del') { // 删除
                var checkRows = table.checkStatus('SK_Table');
                if (checkRows.data.length === 0) {
                    notice.msg('请选择要删除的数据！', {icon: 3, audio:'1'});
                    return;
                }
                var ids = checkRows.data.map(function (d) {
                    return d.id;
                });
                console.log(ids)
                doDel({ids: ids});
            }
            laydate.render({
                elem: '#test', //指定元素
                mark: {
                    '0-3-15': 'SF'
                },
                type: 'datetime',
                trigger: 'click'
            });
        });

        /* 显示表单弹窗 */
        function showEditModel(mData) {
            var id = mData && mData.id || '';
            admin.popupRight({
                type: 2,
                title: (mData ? '修改' : '添加') + '用户',
                area: ['95%', '90%'],
                 content: '{:url("/user/details")}?id='+id
            
            });
        }

        /* 删除 */
        function doDel(obj) {
            layer.confirm('确定要删除选中数据吗？', {
                skin: 'layui-layer-admin',
                icon: 3,
                shade: .1
            }, function (i) {
                layer.close(i);
                notice.msg('正在执行中..', {icon: 4, close: true});
                $.ajax({
                    type: "POST",
                    url: obj.data ? '{:url("/user/del")}' : '{:url("/user/del")}',
                    data: {id: obj.data ? obj.data.id : obj.ids.join(',')},
                    dataType: "json",
                    success: function(data) {
                        notice.destroy();
                        if (data.code == 0) {
                            table.reload('SK_Table');
                            notice.msg(data.msg, {icon: 1, audio:'1'});
                        }else{
                            notice.msg(data.msg, {icon: 2, audio:'1'});
                        }
                    },
                    error: function() {
                        notice.destroy();
                        notice.msg("服务器错误！", {icon: 2, audio:'1'});
                    }
                });
            });
        }

    });
</script>