<include file="/public/header">
<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
       <!-- 表格工具栏 -->
     <form class="layui-form toolbar">
                <div class="layui-form-item">
             <div class="layui-inline">
                        <label class="layui-form-label">内&emsp;容</label>
                        <div class="layui-input-inline">
                            <input name="key" class="layui-input" placeholder="请输入查询内容"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">条&emsp;件&emsp;</label>
                        <div class="layui-input-inline">
                            <select name="type" class="ew-select-fixed">
                                <option value="">选择条件</option>
                            
                                <option value="1">用户ID</option>
                                <option value="2">授权IP</option>
                                <option value="3">接口名称</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline layui-btn-container">&emsp;&emsp;
                        <button class="layui-btn icon-btn" lay-filter="Sk_TbSearch" lay-submit>
                            <i class="layui-icon">&#xe615;</i>搜索
                        </button>
                    </div>
            </div>
        
            </form>

            <table id="SK_Table" lay-filter="SK_Table"></table>
        </div>
    </div>
</div>
<!-- 表格操作列 -->
<script type="text/html" id="SK_TbBar">
    <a class="layui-btn layui-btn-primary layui-btn-sm" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
</script>
<!-- 表格状态列 -->
<script type="text/html" id="SK_TbState">
    <input type="checkbox" lay-filter="SK_TbStateCk" value="{{d.id}}" lay-skin="switch"
           lay-text="正常|封禁" {{d.status==1?'checked':''}} style="display: none;"/>
</script>
<script type="text/html" id="SK_TbPermanent_Switch">
    <input type="checkbox" lay-filter="SK_TbPermanent_SwitchCk" value="{{d.id}}" lay-skin="switch"
           lay-text="开启|关闭" {{d.permanent_switch==1?'checked':''}} style="display: none;"/>
</script>
<script type="text/html" id="SK_Beta_Switch">
    <input type="checkbox" lay-filter="SK_Beta_SwitchCk" value="{{d.id}}" lay-skin="switch"
           lay-text="开启|关闭" {{d.beta==1?'checked':''}} style="display: none;"/>
</script>
<script type="text/html" id="SK_Tbid">
    <span id="SK_span_{{d.id}}">{{d.status==1?'<span class="layui-badge-dot layui-bg-sf-indigo" style="height: 6px;width: 6px;position: relative;top: -2px"></span></span> '+d.id:'<span class="layui-badge-dot layui-bg-red" style="height: 6px;width: 6px;position: relative;top: -2px"></span></span> '+d.id}}
</script>


<include file="/public/footer">
<script>
    layui.use(['layer', 'form', 'table', 'admin', 'notice', 'laydate'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var admin = layui.admin;
        var notice = layui.notice;
        var laydate = layui.laydate;

        /* 渲染表格 */
        var insTb = table.render({
            elem: '#SK_Table',
            url: '{:url("/cmsapi/userlist")}',
            method: 'post',
            page: true,
            skin: 'line',
            size: 'lg',
      
            cellMinWidth: 100,
            request: {
                pageName: 'current_page' //页码的参数名称，默认：page
                ,limitName: 'limit' //每页数据量的参数名，默认：limit
            },
            parseData: function(res){ //res 即为原始返回的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.data.data.total, //解析数据长度
                    "data": res.data.data.data //解析数据列表
                };
            },
            cols: [[
        
                {field: 'id', title: 'ID	',  sort: true, width: 80},
                {field: 'uid', title: '用户ID',  minWidth: 160},
          {field: 'cj_auth_ip', title: '采集授权IP',  minWidth: 300},
           {field: 'cmsapi_id', title: '采集接口ID',  minWidth: 160},
            {field: 'cmsapi_name', title: '接口名称',  minWidth: 500},
             {field: 'intime', title: '购买时间',  minWidth: 160},
              {field: 'end_time', title: '到期时间',  minWidth: 160},
         {field: 'remaining_days', title: '剩余天数',  minWidth: 160},
                {title: '操作', toolbar: '#SK_TbBar',  minWidth: 180,fixed: 'right'}
            ]]
        });


     /* 表格搜索 */
        form.on('submit(Sk_TbSearch)', function (data) {
            insTb.reload({where: data.field, page: {curr: 1}});
            return false;
        });

        /* 表格工具条点击事件 */
        table.on('tool(SK_Table)', function (obj) {
            if (obj.event === 'edit') {
                showEditModel(obj.data);
            } else if (obj.event === 'del') {
                doDel(obj);
            }
        });

        /* 显示表单弹窗 */
        function showEditModel(mData) {
            var id = mData && mData.id || '';
            admin.popupRight({
                type: 2,
                title: (mData ? '修改' : '添加') + '采集授权',
                area: ['95%', '90%'],
                content: '{:url("/cmsapi/userdetails")}?id=' + id
            });
        }
        /* 删除 */
        function doDel(obj) {
            layer.confirm('确定要删除选中数据吗？', {
                skin: 'layui-layer-admin',
                icon: 3,
                shade: .1
            }, function (i) {
                layer.close(i);
                notice.msg('正在执行中..', {icon: 4, close: true});
                $.ajax({
                    type: "POST",
                    url: obj.data ? '{:url("/cmsapi/userdel")}' : '{:url("/cmsapi/userdel")}',
                    data: {id: obj.data ? obj.data.id : obj.ids.join(',')},
                    dataType: "json",
                    success: function(data) {
                        notice.destroy();
                        if (data.code == 0) {
                            table.reload('SK_Table');
                            notice.msg(data.msg, {icon: 1, audio:'1'});
                        }else{
                            notice.msg(data.msg, {icon: 2, audio:'1'});
                        }
                    },
                    error: function() {
                        notice.destroy();
                        notice.msg("服务器错误！", {icon: 2, audio:'1'});
                    }
                });
            });
        }

    });
</script>