<include file="/public/header">
<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
         
                <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
     
                    <div class="layui-tab-content" >
                        <div class="layui-tab-item layui-show">
                            <fieldset class="layui-elem-field layui-field-title">
                                <legend>邀请链接</legend>
                                <div class="layui-field-box">
                                    <div class="layui-form-item">
                                 
                                        <div class="layui-block">
                                  <a target="_blank" href="{$url}"  style="color: #2196f3;
    text-decoration: none;
    background-color: transparent;"> {$url}</a>   
                                        </div>注意：用该链接邀请，注册即为你的下级
                                    </div>
                
                                </div>
                                
                            </fieldset>
               
                        </div>
           
            
                    </div>
                </div>
           
        
        </div>
    </div>
</div>

<include file="/public/footer">

